/* Estilos para el encabezado */
header {
    background-color: rgb(178, 29, 29);
    color: #fff;
    position: relative;
    padding: 0 2rem;
}

header h1 {
    margin: 0;
}

/* Estilos para la navegación */



/* Estilos para el pie de página */



/* Pie de pagina */

footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(178, 29, 29);;
    color: white;
    width: 100%;
}






  /* Estilos para el contenido de la página de inicio */
.contenido-principal {
    text-align: center; /* Centrar el contenido horizontalmente */
    margin-top: 50px;   /* Espacio superior para centrar verticalmente */
}

.contenido-principal h2 {
    font-size: 24px;    /* Tamaño de fuente del título h2 */
}

.contenido-principal p {
    font-size: 16px;    /* Tamaño de fuente del párrafo p */
}


/* Anula el estilo de las listas no ordenadas */
ul {
    list-style: none; /* Elimina las viñetas */
    padding-left: 0;  /* Elimina el espacio izquierdo predeterminado */
}



#panel-cliente ul li a{
    color: white;
    margin-top: 1px;
    /* background-color: #e4e4e4; */
    background-color:#000000; 

}

#panel-cliente ul li a:hover{
    
    background-color:  #d80707;
    
}



/* CSS personalizado para ajustar el tamaño de las imágenes del carrusel */
.custom-image-size {
    max-width: 100%; /* Ajustar el ancho máximo de la imagen al tamaño del contenedor */
    max-height: 600px; 
    margin: 0 auto; /* Centrar la imagen horizontalmente en el contenedor */
    display: block; /* Hacer que la imagen sea un elemento de bloque para centrarla */
}

.carousel {
    margin-bottom: 40px; /* Ajusta el valor según la separación deseada entre el carrusel y el footer */
}



